
@font-face {
    font-family:"Acumin Pro Wide Light";
    src:url("AcuminProWide-Light.woff2") format("woff2"),url("AcuminProWide-Light.woff") format("woff"),url("AcuminProWide-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        