
@font-face {
    font-family:"Acumin Pro Wide";
    src:url("AcuminProWide-Regular.woff2") format("woff2"),url("AcuminProWide-Regular.woff") format("woff"),url("AcuminProWide-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        