
@font-face {
    font-family:"Acumin Pro Wide Bold";
    src:url("AcuminProWide-Bold.woff2") format("woff2"),url("AcuminProWide-Bold.woff") format("woff"),url("AcuminProWide-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        