
@font-face {
    font-family:"Acumin Pro Condensed Light";
    src:url("AcuminProCondensed-Light.woff2") format("woff2"),url("AcuminProCondensed-Light.woff") format("woff"),url("AcuminProCondensed-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        